[submodule "vendor/freetype2"]
	path = third_party/freetype2
	url = https://git.sv.nongnu.org/r/freetype/freetype2.git
    ignore = dirty
[submodule "third_party/lodepng"]
	path = third_party/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "vendor/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
